<div class="column1">
  <p> Welcome to My Server System. There is information on servers and admins stored here. I hope to get a search function implemented into this system but might have to put that on hold if I start working on something else. </p>
</div>
